body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 350px auto auto;
}

header {
    grid-column: span 4;
}
aside {
    grid-column: span 4;
}
main {
    grid-column: span 4;
    background-color: lightblue;
}
footer {
    grid-column: span 4;
    background-color: lightcoral;
}

header {
    display: flex;
}

header > div:nth-child(2) {
    margin-left: auto;
}

.main-logo{
    margin-left: 15%;
    margin-top: 20px;
}
.visible-shopping{
    margin-right: 15%;
    margin-top: 10px;
}

ul {
    list-style: none;
}

.submenu {
    position: relative;
}

.submenu #shopping-cart {
    display: none;
}

.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

aside{
    background-image:url(./uploads/hero.jpg);
    background-size: cover;
}

.image-content{
    margin-top: 80px;
    color: white;
    margin-left: 8%;
}
.image-content form {
    position: relative;
    margin-bottom: 0;
}

.image-content form #search-phone{
    height: 51px;
    margin-bottom: 0;
    width:250px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    padding-left: 6px;
}
.image-content form .submit-search-phone {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    margin-left: 245px;
    background-image: url(./uploads/mglass.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
main {
    text-align: center;
    padding-bottom: 25px;
}
.heading{
    padding: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1600px;
}

.card {
    display: inline-block;
    background-color: white;
    text-align: center;
    overflow: visible;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    border-radius: 10px;
    position: relative;
}
@media screen and (min-width: 600px){
    .card{
        margin-right: 60px;
        margin-left: 60px;
    }
}
.card:hover {
    box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.2);
}
.card img{
    width: 100%;
}

.info-card a {
    text-decoration: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    margin-left: 38px;
}

.info-card h4 {
    color: cornflowerblue;
    font-size: 12px;
}
.price{
  font-size: 12px;
}
@media screen and (min-width: 600px){
   .info-card h4 {
    font-size: 22px;
  }
  .price{
    font-size: 22px;
  }
  .info-card p {
    font-size: 30px;
  }
}
.info-card p {
  font-size: 12px;
}

.info-card span{
    margin-left: 24px;
    color: black;
}

/*hidden card*/

.extra-info {
    display: block;
    position: absolute;
    right:0;
    bottom: -10px;
    right: 0px;
    z-index: 1;
    background-color: white;
    padding: 20px;
    background-color: lightcyan;
    border-radius: 10px;
}
.extra-info th{
    display: inline-block;
    color: black;
    font-size: 15px;
}
.extra-info tr{
    text-align: left;
}
.more-info{
    text-align: left;
}
#close-button{
    float:right;
    padding: 12px;
}

footer{
  display: inline-flex;
  justify-content: center;
  padding-bottom: 15px;
}

.footer-primary a {
    padding-top: 20px;
    text-decoration: none;
    cursor: not-allowed;
    text-align: center;
    display: block;
    color: white;
}
.footer-primary{
  margin-right: 30px;
}
.footer-secondary{
  margin-left: 30px;
}
.footer-secondary a {
  padding-top: 20px;
  text-decoration: none;
  cursor: not-allowed;
  text-align: center;
  display: block;
  color: white;
}
